body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 60px;
}

.px-10 {
    padding-right: 10px;
    padding-left: 10px;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.p-fixed {
    position: fixed;
}

.p-static {
    position: static;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.w-33 {
    width: 33%;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.f-column{
    flex-direction: column;
}

.no-margin {
    margin: 0;
}

.align-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}

.j-right {
    justify-content: right;
}

.j-left {
    justify-content: left;
}

.j-around {
    justify-content: space-around;
}

.j-between {
    justify-content: space-between;
}

nav {
    background-color: #f39212;
    box-shadow: 1px -5px 10px black;
    z-index: 1000;
    position: fixed;
    top: 0;
}

.buscador {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #e4880f;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    z-index: 100;
}

/* #search:checked+.buscador {
    height: 60px;
} */

#inputbuscar {
    width: 80%;
    height: 20px;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 0px 10px -4px black;
    padding: 10px 20px;
}

.barra-nav {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #ff9b17;
    padding: 10px;
    width: 30%;
    z-index: 100;

    margin-left: -500px;
    transition: all 0.2s ease-in;
}

#menu_burger:checked+.barra-nav {
    box-shadow: 0 0 0 1000vmax rgba(0, 0, 0, .5);
    margin-left: 0px;
}

.barra-nav-menu {
    display: flex;
    box-shadow: 1px -5px 10px black;
}

.menu_burger {
    display: none;
}

.nav-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: end;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

#logo img {
    margin: auto;
    width: 80px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 1000;
    padding: 10px;
}

.letter {
    display: flex;
}

.letter #logo {
    width: 50px;
    margin-right: 10px;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
}

.navbar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar nav ul li a:hover {
    color: #f8b400;
}

#lettermark {
    width: 70px;
}

.carrito {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}

.carrito span {
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: -5px;
    background: red;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    padding: 1px;
}

.boto-mostrar-tots,
.boto-volver {
    display: block;
    margin: 20px auto;
    padding: 10px 25px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boto-mostrar-tots {
    background-color: #28a745;
    color: white;
}

.boto-mostrar-tots:hover {
    background-color: #218838;
}

.boto-volver {
    background-color: #dc3545;
    color: white;
}

.boto-volver:hover {
    background-color: #c82333;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nom-producte {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.imatge-producte {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.descripcio-producte {
    color: #555;
    margin: 10px 0;
}

.preu-producte {
    font-size: 1.3rem;
    font-weight: bold;
    color: #28a745;
}

.stock-producte {
    font-size: 1rem;
    color: #888;
}

.boto-comprar {
    margin-top: 15px;
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.boto-comprar:hover {
    background-color: #e65c00;
}

/* ------------------------LANDING------------------------- */
.portada {
    height: 200px;
    overflow: hidden;
}

#sobreportada {
    height: 100%;
    width: 80%;
    bottom: 0;
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(255, 255, 255, 0));
}

#sobreportada p {
    color: white;
    font-family: "Archivo Black", sans-serif;
    font-size: 22px;
    line-height: 28px;
    margin-left: 10px;
}

.containerProd {
    margin-top: 10px;
    height: 165px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0 10px;
    flex-direction: column;
}

.prods {
    overflow-x: auto;
}

.prod {
    height: 125px;
    min-width: 100px;
    border: 1px solid rgb(201, 201, 201);
    margin-right: 10px;
    overflow: hidden;
    flex-direction: column;
}

.btn-add {
    background-color: #f39212;
    border: none;
    height: 25px;
    margin-bottom: 0;
    color: white;
    font-weight: bold;
}

.btn-add:active {
    background-color: #da810e;
}

.titleItem {
    margin-top: 5px;
    font-size: 15px;
    text-align: center;
}

.priceItem {
    font-weight: 300;
    font-size: 12px;
    text-align: center;
}

.containProducts {
    grid-template-columns: repeat(2, 170px);
    gap: 10px;
    justify-items: center;
    align-items: center;
    margin: 15px 0;
}

.contItem {
    height: 172px;
    width: 160px;
    border: 1px solid rgb(201, 201, 201);

}

/* -------------------------------------------------------- */



/* ------------------------CARRITO------------------------- */

#cartContainer {
    top: 0;
    background-color: white;
    z-index: 2000;
    flex-direction: column;
}

#cartHeader {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    height: 40px;
}

#cartHeader p {
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
    /* Esto es para que esté en el centro y que no afecte la flecha */
}

#cartBody {
    flex: 1;
    overflow-y: auto;
    width: 100%;
    margin-bottom: 51px;
    padding: 0 10px;
    box-sizing: border-box;
}

#cartItem {
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.containerItem .btn-delete {
    margin-right: 20px;
    width: 30px;
}

.cartItem-img {
    width: 100px;
    height: 100px;
}

.cartItem-info {
    display: flex;
    flex-direction: column;
}

.cartItem-info #quant input {
    width: 30px;
    margin-left: 5px;
    text-align: center;
}

.cartItem-info>.title {
    font-weight: bold;
}

#cartFooter {
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    bottom: 0;
    background-color: white;
    padding: 0 20px;
    box-sizing: border-box;
}

.btn-finalizar {
    background-color: #f39212;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.btn-finalizar:hover {
    background-color: #e65c00;
}

.btn-disabled{
    background-color: #adadad;
    border: none;
    height: 25px;
    margin-bottom: 0;
    color: white;
    font-weight: bold;
}

#checkoutLanding{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

#infoCheckout input{
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgb(196, 196, 196);
    box-shadow: 0px 0px 9px -3px rgba(0,0,0,0.1);
    margin-bottom: 5px;
}

.header{
    background-color: white;
    position: fixed;
    height: 40px;
    top: 0;
    left: 0;
    z-index: 1003;
    padding: 10px;
}

.header p{
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* ---------------------------------------------------*/



.footer {
    text-align: center;
}

.footer a {
    color: white;
    margin: 0 10px;
}

/* ------------------------Producto------------------------- */

.containImage {
    height: 332px;
    width: 332px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
}

#prodHeader {
    top: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: white;
}

#prodHeader p {
    font-size: 20px;
    text-align: center;
}

.titleProd {
    font-size: 25px;
}

.btn-addProd {
    background-color: #f39212;
    color: white;
    padding: 10px 15px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    flex: 1;
}

.cantidadTotal {
    border: 1px solid #999999;
    margin-right: 10px;
    height: 40px;
}

.cantidadTotal button {
    background-color: white;
    border: none;
    font-size: 35px;
    color: #000000;
    display: flex;
    align-items: center;
}

.contador {
    width: 25px;
    height: 20px;
    border: none;
    text-align: center;
    font-size: 20px;
    margin: 0 10px;
}

.bodyProd {
    margin-top: 130px;
    margin-bottom: 45px;
}

.footerProd {
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid black;
    bottom: 0;
    left: 0;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
}

/* --------------------------------------------------------- */

/* ------------------------Buscador------------------------- */

.containerSearch{
    display: flex;
    flex-direction: column;
    background-color: white;
    top: 60px;
    left: 0;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    z-index: 2;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.418);
    z-index: 1;
}


/* --------------------------------------------------------- */

/* ------------------------My Orders------------------------ */

.containerItem{
    height: 100px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
    background-color: white;
    overflow: hidden;
    border: 1px solid rgb(221, 221, 221);
}

/* --------------------------------------------------------- */












/* UTILIZAR MOBILE-NONE EN AQUELLAS COSAS QUE APAREZCAN EN DESKTOP Y NO QUERAMOS QUE APAREZCAN EN MOBILE */
.mobile-none {
    display: none !important;
}

@media (min-width: 600px) {

    /* UTILIZAR DESK-NONE EN AQUELLAS COSAS QUE APAREZCAN EN MOVIL Y NO QUERAMOS QUE APAREZCAN EN ORDENADOR */
    .desk-none {
        display: none !important;
    }

    .mobile-none {
        display: flex !important;
    }

    body {
        background-color: white;
    }

    .portada {
        height: 330px;
    }

    .portada img {
        margin-top: -180px;
    }

    #sobreportada p {
        margin-top: 5px;
        font-size: 50px;
        line-height: 1;
    }

    .categories-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(1fr));
        gap: 40px;
        padding: 20px;
    }

    .category-item {
        background-color: #222121;
        color: white;
        text-align: center;
        cursor: pointer;
        justify-content: center;
        width: 100%;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
    }


    .category-item:hover {
        background-color: #da810e;
    }

    .products {
        background-color: white;
    }

    .containProducts {
        grid-template-columns: repeat(3, 200px);
        gap: 150px;
        justify-items: center;
        align-items: center;
        margin: 15px 0;

    }

    .contItem {
        height: 200px;
        width: 300px;
        border: 1px solid rgb(201, 201, 201);

    }

    .infProd {
        align-items: center;
    }

    .titleItem {
        display: inline;
        margin-right: 10px;

    }

    .priceItem {
        display: inline;
    }

    .bodyProd {
        display: flex;
    }

    .product-info {
        width: 60%;
    }

    .infoDet {
        margin: 40px;
    }

    .containImage {
        min-height: 450px;
        min-width: 450px;
    }

    .contador {
        width: 25px;
        height: 20px;
        border: none;
        text-align: center;
        font-size: 20px;
        margin: 0 10px;
    }

    .cantidadTotal {
        border: 1px solid #dbdbdb;
        height: 40px;
        width: auto;
        align-items: center;
    }

    #cartContainer {
        position: fixed;
        top: 0; 
        right: 0; 
        width: 500px; 
        height: auto;
        max-height: 90%; 
        overflow-y: auto; 
        z-index: 1000;
        background-color: white;
        border-left: 1px solid #ccc; 
    }

    #cartHeader {
        position: static; 
        top: 0; 
        background-color: white;
        z-index: 1001; 
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
/* Estilos generales */
.registerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
  }
  
  .form-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
  }
  
  /* Card de formulario */
  .form-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 100%;
    text-align: center;
  }
  
  /* Título del formulario */
  .form-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Inputs */
  .form-card input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    transition: border-color 0.3s;
  }
  
  .form-card input:focus {
    border-color: #f39212;
    outline: none;
  }
  
  /* Botón */
  .btn-primary {
    width: 100%;
    padding: 12px;
    background-color: #f39212;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #e07900;
  }
  
  /* Checkbox oculto */
  #chk {
    display: none;
  }
  
  /* Ajustes adicionales para dispositivos móviles */
  @media (max-width: 480px) {
    .form-card {
      padding: 20px;
    }
  
    .form-title {
      font-size: 20px;
    }
  
    .btn-primary {
      font-size: 14px;
    }
  }
  .qui-som-section {
    background-color: white; /* Fondo blanco */
    position: fixed; /* O absolute, dependiendo del diseño */
    top: 0; /* Ajusta según sea necesario */
    left: 0; /* Ajusta según sea necesario */
    width: 100%; /* Asegúrate de que ocupa el ancho completo */
    height: 100%; /* Asegúrate de que ocupa el alto completo */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegúrate de que está por encima de otros elementos */
    /* Otros estilos según sea necesario */
  }
  
  
  .btn-close {
    margin-top: 20px; /* Espacio para el botón */
    background-color: #f39212; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  }
  
  

  
  