<!DOCTYPE html>
<html lang="ca">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <link rel="stylesheet" href="css/style.css" />
  <title>El Racó del Joc</title>
  <link rel="icon" href="./img/file.png" type="image/x-icon">
</head>

<body>
  <section class="seccio" id="appVue">
    <header>
      <nav class="w-full">
        <div class="d-flex" style="height: 60px;">
          <div class="px-10 w-full d-flex align-center j-between">
            <div id="menu" class="w-33">
              <label for="menu_burger">
                <img src="./img/svg/menu.svg" alt="menu" width="30px">
              </label>
              <input type="checkbox" class="menu_burger" id="menu_burger">
              <div class="barra-nav">
                <div class="nav-menu">
                  <label for="menu_burger">
                    <img src="./img/svg/close.svg" alt="close" width="25px">
                  </label>
                </div>
                <ul class="nav-list">
                  <li><a href="#" @click="toggleInici">Inici</a></li>
                  <li><a href="#">Categories</a></li>
                  <li><a href="#">Qui som</a></li>
                  <li><a href="#">Admin</a></li>
                  <li><a href="#register" @click="toggleLoginRegister">Register/Login</a></li>
                </ul>
              </div>
            </div>
            <div id="logo" class="w-33 d-flex j-center">
              <img src="./img/lettermarkwhite.png">
            </div>
            <div id="icons" class="d-flex w-33 j-right">
              <label for="search" class="d-flex align-center">
                <img src="./img/svg/search.svg" alt="buscar" width="30px">
              </label>
              <input type="checkbox" name="search" id="search">
              <div class="d-flex j-center align-center buscador">
                <input type="text" name="inputbuscar" id="inputbuscar" placeholder="Buscar producto...">
              </div>
              <div class="carrito">
                <img src="./img/svg/cart.svg" alt="cart" @click="toggleCart" width="30px" style="margin-left: 10px;">
                <span v-if="totalCart > 0">{{ totalCart }}</span>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <div v-if="landingVisible">
      <div class="portada p-relative">
        <img src="./img/landingimage.jpg" alt="" width="100%">
        <div id="sobreportada" class="d-flex w-full p-absolute">
          <p>DESCOBREIX<br>UNA <span style="color: #f39212;">NOVA<br>AVENTURA</span></p>
        </div>
      </div>

      <div>
        <div class="containerProd d-flex">
          <p class="no-margin" style="font-weight: 600;">Los más vendidos</p>
          <div class="prods d-flex">
            <div class="prod" v-for="producto in infoTotal.datos" :key="producto.id">
              <div class="d-flex j-center" @click="mostrarProd(producto.id)">
                <img src="./img/svg/image.svg" alt="imageProd" width="90px">
              </div>
              <div class="d-flex" style="flex-direction: column; margin-top: -15px;">
                <div style="padding: 3px;" @click="mostrarProd(producto.id)">
                  <p class="titleItem no-margin"
                    style="width: 95px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{producto.title}}
                  </p>
                  <p class="priceItem no-margin">€{{producto.price}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex j-center align-center" style="flex-direction: column;">
        <div class="filter d-flex">
          <p class="no-margin" style="font-weight: 600;">[FILTROS DE BUSQUEDA]</p>
        </div>
        <div class="d-grid containProducts">
          <div class="contItem p-relative" v-for="producto in infoTotal.datos" :key="producto.id">
            <div class="d-flex j-center" @click="mostrarProd(producto.id)">
              <img src="./img/svg/image.svg" alt="imageProd" width="110px">
            </div>
            <div class="d-flex" style="flex-direction: column; margin-top: -15px;">
              <div style="padding: 3px;" @click="mostrarProd(producto.id)">
                <p class="titleItem no-margin">{{producto.title}}</p>
                <p class="priceItem no-margin">€{{producto.price}}</p>
              </div>
              <button class="w-full btn-add p-absolute" style="bottom: 0;" :disabled="producto.stock === 0" @click="addCart(producto.id)">Add to cart</button>
            </div>
          </div>
        </div>
      </div>

      <div class="categories">
        <div>
          
        </div>
      </div>
    </div>

    <div v-if="productVisible">
      <div id="prodHeader" class="d-flex align-center p-fixed w-full">
        <img src="./img/svg/arrow.svg" alt="cart" width="25px" height="25px" @click="toggleLandingProd">
        <p class="no-margin w-full">Informació del producte</p>
      </div>
      <div class="bodyProd" style="padding: 20px;">
        <div class="containImage d-flex j-center w-full">
          <img src="./img/svg/image.svg" alt="imageProd">
        </div>
        <div class="">
          <p v-if="prodActual.stock >= 20">Disponible</p>
          <p v-else>Últimas unidades</p>
          <p class="titleProd no-margin">{{prodActual.title}}</p>
          <p class="priceProd no-margin">€{{prodActual.price}}</p>
          <p>Descripció</p>
          <p>{{prodActual.description}}</p>
        </div>
        <div class="d-flex align-center j-between w-full p-fixed footerProd">
          <div class="cantidadTotal d-flex align-center">
            <button @click="decrement"><img src="./img/svg/restar.svg" width="25px"></button>
            <input type="number" name="cant" :value="quantitat" class="contador" readonly>
            <button @click="increment(prodActual.id)"><img src="./img/svg/add.svg" width="25px"></button>
          </div>
          <button class="btn-addProd" @click="addCart(prodActual.id)">Add to cart</button> 
          <!-- AVERIGUAR COMO DESHABILITAR EL BOTÓN EN CASO DE NO TENER STOCK SUFICIENTE CON LA CANTIDAD QUE ELIGE EL USUSARIO -->
        </div>
      </div>
    </div>

    <!-- Carrito de compras (solo visible si cartVisible es verdadero) -->
    <div id="cartContainer" v-if="cartVisible" class="w-full h-full p-fixed d-flex">
      <div id="cartHeader" class="d-flex align-center">
        <img src="./img/svg/arrow.svg" alt="cart" @click="toggleCart" width="25px" height="25px">
        <p class="p-absolute">Cistella</p>
      </div>
      <div id="cartBody">
        <div id="cartItem" class="d-flex align-center j-between" v-for="producte in cart.datos"
          :key="producte.product.id">
          <div class="d-flex align-center">
            <div class="cartItem-img j-left">
              <img src="./img/svg/image.svg" alt="imageProduct" style="object-fit: cover; width: 100%; height: 100%;">
            </div>
            <div class="cartItem-info j-left">
              <div id="quant" class="d-flex align-center">
                <p class="title">{{ producte.product.title }} x</p>
                <input type="number" v-model.number="producte.product.quantitat" min="1" @input="calcularTotal" />
              </div>
              <p>€{{ (producte.product.price * producte.product.quantitat).toFixed(2) }}</p>
            </div>
          </div>
          <img class="btn-delete" src="./img/svg/delete.svg" @click="eliminarProducte(producte)">
        </div>
      </div>
      <div id="cartFooter" class="p-absolute w-full d-flex j-between align-center">
        <p>Total: €{{ preuTotal.total.toFixed(2) }}</p>
        <input type="button" value="Finalitzar compra" class="btn-finalizar" @click="finalitzarCompra"/>
      </div>
    </div>

    <div class="registerLogin">
      <div class="main" id="signup" v-if="registerLoginVisible">
        <input type="checkbox" id="chk" aria-hidden="true">
        
        <div class="signup">
          <form @submit.prevent="register"> <!-- Cambiado para prevenir el comportamiento predeterminado -->
            <label class="labelReg"  for="chk" aria-hidden="true" style="color: #f39212;">Register</label>
            <input type="text" name="txt" placeholder="User name" required="">
            <input type="email" name="email" placeholder="Email" required="">
            <input type="password" name="pswd" placeholder="Password" required="">
            <button type="submit" id="registerButton">Registrar:</button> <!-- Cambiado el ID para el botón -->
          </form>
        </div>
      
        <div class="login" id="login">
          <form @submit.prevent="login"> <!-- Cambiado para prevenir el comportamiento predeterminado -->
            <label class="labelReg"  for="chk" aria-hidden="true">Login</label>
            <input type="email" name="email" placeholder="Email" required="">
            <input type="password" name="pswd" placeholder="Password" required="">
            <button type="submit" id="loginButton">Iniciar Sesión</button> <!-- Cambiado el ID para el botón -->
          </form>
        </div>
      </div>
    </div>

  </section>

  <!-- Carga de Bootstrap y Vue -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
  <script type="module" src="js/action.js"></script>
</body>

</html>